body{background-color:#FFF8DC;}
hr {
  border-style: none;
border-top-style: dotted;
  border-color: grey;
  border-width:10px;
width:30%;}
img {height: 200px;}
h1 {
  color: #483d8b;
}
h3 {
  background-color: #dc143c;
  color:white ;
}
